<h2 class="mb-4">Update</h2>

<a href="/prds" class="btn btn-danger mb-3"
  ><i class="fa fa-arrow-left"></i> Back</a
>
<div class="card mb-4">
  <div class="card-body">
    <form action="/prds/update_action/{{.ID}}" method="POST">
      <div class="form-group">
        <label for="name">Feature Name</label>
        <input
          type="text"
          name="document_name"
          id="document_name"
          class="form-control"
          required
          placeholder="Name"
          autocomplete="false"
          value="{{.input.DocumentName}}"
        />
      </div>

      <div class="form-group">
        <label for="name">Feature Description</label>
        <input
          type="text"
          name="description"
          id="description"
          class="form-control"
          required
          placeholder="Feature Description"
          autocomplete="false"
          value="{{.input.Description}}"
        />
      </div>

      <div class="form-group">
        <label for="email">Link</label>
        <input
          type="text"
          name="link"
          id="link"
          class="form-control"
          required
          placeholder="Link"
          autocomplete="false"
          value="{{.input.Link}}"
        />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit ">Submit</button>
      </div>
    </form>
  </div>
</div>
